.image {
    display: flex;
    justify-content: center;
}
.image img {
    width: 200px;
}
.title {
    margin-bottom: 0;
}
.languages {
    background-color: burlywood;
    border-radius: 2rem;
    width: 30rem;
    height: 49rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
